.main-wrapper {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 70px);

  .arrow-left,
  .arrow-right {
    /* padding: 0px 70px; */
    font-size: 30px;
    color: #989898;
  }
  .arrow-left:hover,
  .arrow-right:hover {
    cursor: pointer;
  }

  .left-wrapper,
  .right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-wrapper {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  .left-wrapper {
    padding-top: 58px;
    padding-bottom: 80px;
    background-color: #f3f3ff;
    max-width: 600px;
    flex: 30%;

    .title-wrapper {
      .date {
        color: #54548e;
        font-weight: bold;
      }
    }

    .card-wrapper {
      background-color: white;
      width: 80%;
      height: max-content;
      /* max-height: 250px; */
      border-radius: 20px;

      .card-title {
        display: flex;
        padding: 20px 20px 0px 20px;
        align-items: center;
        /* height: 20px; */

        .time {
          margin-right: 20px;
          padding: 5px 20px;
          line-height: 25px;
          border-radius: 30px;
          color: white;
          background-color: #7373c0;
          text-align: center;
        }
        .title {
          display: inline-block;
          width: 70%;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .card-content {
        padding: 0px 35px;
        font-size: 14px;
        height: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .right-wrapper {
    flex: 70%;
    justify-content: center;

    .month {
      font-weight: bold;
      text-align: center;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
