.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3ff;
}

.title {
  margin-bottom: 50px;
  color: #54548e;
  font-weight: bold;
  text-align: center;
}

input {
  margin-bottom: 20px;
  padding-left: 20px;
  width: 350px;
  height: 40px;
  font-size: 14px;
  border-color: transparent;
  outline: transparent;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 1px #a3a3a3;
}

button.signupButton {
  margin-top: 20px;
  width: 350px;
  height: 40px;
  background-color: #9292d4;
  color: white;
  border-color: transparent;
  outline: transparent;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 1px #a3a3a3;
}
