@import '/styles/colors.scss';

.sign-wrapper {
  text-align: center;
  display: flex;
  height: 100vh;
}

.signin-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 50%;
  background-color: $color-background;

  .signin-title {
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: bold;
    color: $color-bigText;
  }
  .signin-login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 50%;
  background-color: $color-primary;
  color: #fff;

  .signup-title {
    font-size: 36px;
    margin-bottom: 50px;
    font-weight: bold;
  }
  .signup-contents {
    height: 110px;
  }
}
