@import '/styles/colors.scss';

$color-label: #605c73;
$color-input-border: #ecebf2;
$color-input-border-hover: #5635db;

.input {
  height: 100%;
  width: 100%;
  // background-color: $color-light-grey-3;
  border: 1px solid $color-input-border;
  font-size: 14px;
  padding: 16px;
  color: $color-paragraph-black;
  &::placeholder {
    color: $color-grey-1;
  }
  transition: 0.3s;
  &:focus {
    border: 1px solid $color-input-border-hover;
  }
}
