@import './styles/colors.scss';

.input {
  height: 100%;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  border-radius: 20px;
  border-color: transparent;
  background-color: $color-white;
  box-shadow: $color-box-shadow;
  outline: transparent;
  text-indent: 10px;
}
