// .fc-toolbar-title {
//   font-size: 16px;
// }

@import './colors.scss';

.fc {
  width: 100%;
}

.fc-scroller {
  overflow: hidden hidden;
}

.fc .fc-toolbar-title {
  font-size: 50px;
  font-weight: bold;
}
.fc .fc-header-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fc .fc-button-primary {
  background-color: $color-white;
  color: $color-black;
  border-color: transparent;
  font-size: 24px;

  &:hover {
    background-color: $color-white;
    color: $color-black;
    border-color: transparent;
  }
}

.fc .fc-button-primary .fc-button-active {
  background-color: $color-white;
  color: $color-black;
  border-color: transparent;
}

.fc .fc-button-primary:disabled {
  background-color: $color-white;
  color: $color-black;
}

.fc-theme-standard .fc-scrollgrid {
  border: none;
}

.fc-view-harness {
  .fc-col-header-cell {
    border: none;
    border-bottom: 1px solid $color-black;
    padding-bottom: 10px;
  }

  .fc-day-sat {
    color: $color-calender-sat;
  }
  .fc-day-sun {
    color: $color-calender-sun;
  }
}

.fc-daygrid-body {
  padding-top: 10px;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}
