// main colors
$color-primary: #9292d4;
$color-primary-hover: rgba(146, 146, 212, 0.45);

// basic colors
$color-white: #fff;
$color-black: #000;
$color-overlay: rgba(0, 0, 0, 0.4);

$color-light-grey-1: #f9fbfc;
$color-light-grey-2: #f4f5f7;
$color-light-grey-3: #ebedf0;
$color-light-grey-4: #e1e4e8;
$color-light-grey-5: #d7dbe0;
$color-light-grey-6: #c5cad1;
$color-light-grey-7: #a9b0ba;

$color-grey-1: #87909c;
$color-grey-2: #68717d;

$color-paragraph-black: #444444;
$color-minor-black: #888888;

$color-border: #ddd;
$color-alert: #b34045;

// theme colors
$color-time: #7373c0;
$color-bigText: #54548e;
$color-sign: #7e7e7e;
$color-detail: #afafaf;
$color-tag: #70a9ff;
$color-placeholder: #afafaf;

$color-calender-day: #6e7781;
$color-calender-sun: #ba0808;
$color-calender-sat: #005dc2;

$color-border: #b1afb4;
$color-scroll: #c4c4c4;

$color-background: #f3f3ff;

// $color-box-shadow: 2px 2px 5px 1px #a3a3a3;
$color-box-shadow: 5px 5px 10px #a3a3a3;
