$color-primary: #9292d4;
$color-primary-hover: rgba(146, 146, 212, 0.45);

$color-time: #7373c0;
$color-bigText: #54548e;
$color-sign: #7e7e7e;
$color-detail: #afafaf;
$color-tag: #70a9ff;
$color-placeholder: #afafaf;

$color-calender-day: #6e7781;
$color-calender-sun: #ba0808;
$color-calender-sat: #005dc2;

$color-border: #b1afb4;
$color-scroll: #c4c4c4;

$color-background: #f3f3ff;
