@import '/styles/colors.scss';

.button-primary-signUp {
  font-size: 16px;
  font-weight: bold;
  background-color: $color-primary-hover;
  color: $color-white;
  border-radius: 20px;
  box-shadow: $color-box-shadow;
  border: white solid 1.5px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    background-color: #b8b8eb;
  }
}
